//Tipografias
$fuente_principal: 'Montserrat' sans-serif;

//colores
$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #F3F46D;
$morado:#752F97;
$negro: #0F2027;
$azul: #483D8B;
$blanco: #ffffff;


//mediaQuery

$telefono: 480px;
$telefonoSmall: 300px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;





